<!-- Navbar Start -->
<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
        <h6 class="m-0">Danh mục</h6>
        <i class="fa fa-angle-down text-dark"></i>
      </a>
      <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
        <div class="navbar-nav w-100 overflow-hidden" id="load-cate-header" style="height: 410px"></div>
      </nav>
    </div>
    <div class="col-lg-9">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
          </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a [routerLink]="['/home']" class="nav-item nav-link active">Home</a>
            <a [routerLink]="['/shop']" class="nav-item nav-link">Shop</a>
            <a [routerLink]="['/detail']" class="nav-item nav-link">Shop Detail</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
              <div class="dropdown-menu rounded-0 m-0">
                <a [routerLink]="['/cart']" class="dropdown-item">Shopping Cart</a>
                <a [routerLink]="['/checkout']" class="dropdown-item">Checkout</a>
              </div>
            </div>
            <a [routerLink]="['/contact']" class="nav-item nav-link">Contact</a>
            <!-- <a [routerLink]="['/category-list']" class="nav-item nav-link">Admin</a> -->
          </div>
          <div class="navbar-nav ml-auto py-0" *ngIf="userEmail; else loginRegisterLinks">
            <span class="nav-item nav-link">Xin chào, {{ userEmail }}</span>
            <!-- <button *ngIf="userIsAdmin()" class="btn btn-primary" [routerLink]="['/category-list']">Admin</button> -->
            <a [routerLink]="['/category-list']" class="nav-item nav-link" *ngIf="userIsAdmin() == 1">Vào Admin</a>
            <a href="#" class="nav-item nav-link" (click)="logout()">Logout</a>
          </div>
          <ng-template #loginRegisterLinks>
            <div class="navbar-nav ml-auto py-0">
              <a [routerLink]="['/login']" class="nav-item nav-link">Login</a>
              <a [routerLink]="['/register']" class="nav-item nav-link">Register</a>
            </div>
          </ng-template>
        </div>
      </nav>
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" src="../../../assets/images/1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="../../../assets/images/4.jpeg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="../../../assets/images/11.jpeg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Navbar End -->


<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<!-- <div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-4 col-md-6 pb-1 justify-content-center" *ngFor="let category of categories">
      <a href="#" class="cat-img position-relative overflow-hidden mb-3 text-center d-block mx-auto">
        <img class="img-fluid" [src]="'../../../assets/images/' + category.img" [alt]="category.name" style="height: 250px; width: 250px;">
      </a>
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <h5 class="font-weight-semi-bold m-0 text-center">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div> -->

<!-- Categories Start -->
<div class="container-fluid pt-5" *ngIf="categories.length > 0">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-4 col-md-6 pb-1 justify-content-center" *ngFor="let category of categories">
      <a href="#" class="cat-img position-relative overflow-hidden mb-3 text-center d-block mx-auto">
        <img class="img-fluid" [src]="'../../../assets/images/' + category.img" [alt]="category.name" style="height: 250px; width: 250px;">
      </a>
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <h5 class="font-weight-semi-bold m-0 text-center">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div>
<!-- Categories End -->


<!-- Categories End -->


<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="../../../assets/images/11.jpeg" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Sắp giảm giá 40%</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Áo T1 4 Sao</h1>
                    <a [routerLink]="['/product-detail', 11]" class="btn btn-outline-primary py-md-2 px-md-3">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="../../../assets/images/12.jpg" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Shop không giảm cái này đâu</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Áo GenG</h1>
                    <a [routerLink]="['/product-detail', 12]" class="btn btn-outline-primary py-md-2 px-md-3">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<div class="container-fluid pt-5" *ngIf="searchPro && searchPro.length > 0">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">Search Results</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let product of searchPro">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <a [routerLink]="['/product-detail', product.id]" id="product-list">
            <img class="img-fluid-2 w-100" [src]="'../../../assets/images/' + product.img" [alt]="product.name">
          </a>
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">{{product.name}}</h6>
          <div class="d-flex justify-content-center">
            <h6>{{product.price | currency: 'VND'}}</h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a [routerLink]="['/product-detail', product.id]" id="product-list" class="btn btn-sm text-dark p-0">
            <i class="fas fa-eye text-primary mr-1"></i>View Detail
          </a>
          <a href="" class="btn btn-sm text-dark p-0">
            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Products Start -->
<div class="container-fluid pt-5">

  <div class="text-center mb-4">

      <h2 class="section-title px-5"><span class="px-2">Trendy Products</span></h2>

  </div>

  <div class="cate-filter">
    <div class="row align-items-center justify-content-center container">
        <div class="col-lg-3 col-md-4 pb-1 cate">
            <label for="productCateId1">ID Danh mục:</label><br>
            <select id="productCateId1" [(ngModel)]="selectedCategoryId" (change)="filterProducts()">
                <option value="">Tất cả</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select><br><br>
        </div>

        <div class="col-lg-3 col-md-4 pb-1 price">
            <label for="priceFilter">Chọn giá:</label><br>
            <select id="priceFilter" [(ngModel)]="selectedPriceRange" (change)="filterProducts()">
                <option value="">Tất cả</option>
                <option value="0-100000">Dưới 100,000 VND</option>
                <option value="100000-200000">Từ 100,000 VND - 200,000 VND</option>
                <option value="200000-300000">Từ 200,000 VND - 300,000 VND</option>
                <option value="300000-400000">Từ 300,000 VND - 400,000 VND</option>
                <option value="400000-500000">Từ 400,000 VND - 500,000 VND</option>
                <option value="500000-1000000">Từ 500,000 VND - 1,000,000 VND</option>
                <option value="1000000">Trên 1,000,000 VND</option>
            </select><br><br>
        </div>
    </div>
</div>










<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let product of (isFilterApplied() ? filteredProducts : products)">
          <div class="card product-item border-0 mb-4">
              <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                  <a [routerLink]="['/product-detail', product.id]" id="product-list">
                      <img class="img-fluid-2 w-100" [src]="'../../../assets/images/' + product.img" [alt]="product.name">
                  </a>
              </div>
              <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                  <h6 class="text-truncate mb-3">{{product.name}}</h6>
                  <div class="d-flex justify-content-center">
                      <h6>{{product.price | currency: 'VND'}}</h6>
                  </div>
              </div>
              <div class="card-footer d-flex justify-content-between bg-light border">
                  <a [routerLink]="['/product-detail', product.id]" id="product-list" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                  <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
              </div>
          </div>
      </div>
  </div>
</div>




<!-- Products End -->


<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Hot Products</span></h2>
    </div>
    <div class="row px-xl-5 pb-3" id="load-hot">



    </div>
</div>
<!-- Products End -->


<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->





<!-- Vendor Start -->
<!-- <div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="img/vendor-1.jpg" alt="asas">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-2.jpg" alt="asda">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-3.jpg" alt="asdasd">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-4.jpg" alt="asdas">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-5.jpg" alt="asdads">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-6.jpg" alt="asdasd">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-7.jpg" alt="adsas">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-8.jpg" alt="adadas">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Vendor End -->
